body{
    background: #ea0a8e;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

body {
  background-color: #ea0a8e;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  font: 14px/21px "Open Sans", Arial, sans-serif;
  color: #666;
  background-color: white;
  padding: 20px;
  margin: 40px auto;
  border-radius: 5px;
  
}

p {
  margin-bottom: 10px;
}


.hide {
  display: none;
}

dt {
  font-size: 19px;
  color: #ea0a8e;
  margin-bottom: 20px;
  margin-left: 26px;
  cursor: pointer;
}

/* Triangle list item */
dt:before {
  content: "";
  border-color: transparent #ccc;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  display: block;
  height: 0;
  width: 0;
  left: -16px;
  top: 17px;
  position: relative;
}

dd {
  padding: 20px;
  background: #FDFCFA;
  border-radius: 5px;
  border: 1px solid #F2EEE6;
  margin: 20px 0 30px;
  position: relative;
}

/* Triangle in definition container */
dd:after, dd:before {
  bottom: 100%;
  left: 6%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

dd:after {
  border-color: rgba(136, 183, 213, 0);
  border-color: transparent;
  border-bottom-color: #FDFCFA;
  border-width: 15px;
  margin-left: -15px;
}

dd:before {
  border-color: rgba(194, 225, 245, 0);
  border-color: transparent;
  border-bottom-color: #F2EEE6;
  border-width: 17px;
  margin-left: -17px;
}
.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.box{
    width:98%;
    height:20vh;
    background:white;
    border: 1px solid;
}
.box:hover{
    width:100%;
    border: none;
}
.faq{
    width: 100%;
    height: 20vh;
    border:1px solid;
    margin: 1px;
}
.faq:hover{
    background:wheat;
}
*, :before, :after {
  box-sizing: border-box;
}

.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}

.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}



.logo {

  font: 300 2em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.logo a {
  display: block;
  padding: 1em 0;
  color: #DFDBD9;
  text-decoration: none;
  transition: .15s linear color;
  margin-bottom: 10px;
}
.logo a:hover {
  color: #fff;
}
.logo a:hover span {
  color: #ea0a8e;
}
.logo span {
  font-weight: 700;
  transition: .15s linear color;
}

.main-nav ul {
  border-top: solid 1px #3C3735;
}
.main-nav li {
  border-bottom: solid 1px #3C3735;
}
.main-nav a {
  padding: 1.1em 0;
  color: #DFDBD9;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
}
.main-nav a:hover {
  color: #fff;
}
.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
}
.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-right: solid 5px #ea0a8e;
  background: #3C3735;
  transition: .35s ease left;
}
.font{
    font-size: 18px;
}
li a {
    height: 20vh;
}
i{
    font-size:50px;
    margin-bottom: 10px;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

setting {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.containers {
  margin: 0 auto;
  width: 100%;
  background: #f6239e;
  border-radius: 5px;
    overflow-y: hidden;
}

.people-list {
  width: 260px;
  float: right;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: white;
  background: white;
  width: 90%;
  font-size: 14px;
}
input[type="text"]{
    color: #F264AC;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list ul li {
  padding-bottom: 10px;
}
.people-list img {
  float: left;
    height: 6vh;
}
.size{
    height: 6vh;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}
.chat {
  width: 70%;
  float: left;
    position: relative;
  left:140px;
  background: #fee7f4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 500px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #F264AC;
  border-width: 10px;
  margin-left: -10px;
    
}
.chat .chat-history .my-message {
  background: #F264AC;
}
.chat .chat-history .other-message {
  background: #B5005C;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #B5005C;
  left: 93%;
}
.chat .chat-message {
  padding: 10px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  font: 14px/22px "Lato", Arial, sans-serif;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #dc0984;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
  padding-top: 10px;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}
.clearfix{
    list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.structure{
    text-align: center;
    font-size: 40px;
    position: relative;
    top:200px;
}